NEXT_PUBLIC_SUPABASE_URL=https://scfujnwdfrawfespaotk.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNjZnVqbndkZnJhd2Zlc3Bhb3RrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTI5NDUwNjUsImV4cCI6MjA2ODUyMTA2NX0.LTsmz_N5emd0OpJF46jRpO1JTaIcAFspby6bwxEn4I8